---
layout: default
title: Home
---

<meta name='impact-site-verification' value='03cbe70c-1616-4150-83d1-4989f3e42d95'>
<script>
  const msg = location.href.split('msg=')[1];
  if (msg) alert(msg);
</script>
<div id="tags">
  <span>Tags: </span>
  <script src="/tags.js"></script>
</div>
<br><br>
<div class="posts">
  {% for post in paginator.posts %}
  {% if post.enabled %}
  <div name="{{ post.title }}" class="post">
    <h1 class="post-title">
      <a href="{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>

    <span class="post-date">{{ post.date | date_to_string }}</span>

    {{ post.description }}
  </div>
  <script>
    {
      const tags = '{{ post.tags }}'.split(',');
      let remove = true;
      top.TAGS.SELECTED.forEach(tag1 => tags.forEach(tag2 => remove = remove && tag1 !== tag2));
      if (remove && top.TAGS.SELECTED.length) document.getElementsByName(`{{ post.title }}`)[0].remove();
      document.currentScript.remove();
    }
  </script>
  {% endif %}
  {% endfor %}
</div>
