<head>
  <script>
    (function(redirects){
      const old = location.href.split('?')[1];
      const url = redirects[old];
      if (url) location.href = url;
    }({
      'WhatsApp-Vulnerability-Disclosure-Read-Permissions-From-The-File-System-(CVE-2019-18426)': 'https://weizman.github.io/page-whatsapp-vuln/',
      'csp-bypass-vul': 'https://weizman.github.io/page-csp-vuln/',
      'javascript-anti-debugging-some-next-level-shit-part-1': 'https://weizman.github.io/page-js-anti-debug-1/',
      'javascript-anti-debugging-some-next-level-shit-part-2': 'https://weizman.github.io/page-js-anti-debug-2/',
    }));
  </script>
  
  <link href="http://gmpg.org/xfn/11" rel="profile">
  {% if page.canonical %}
  <link rel="canonical" href="{{ page.canonical }}" />
  {% endif %}
  <meta name="author" content="Gal Weizman">
  <meta property="og:type" name="type" content="article">
  <meta property="og:site_name" content="Gal Weizman">
  <meta property="og:image" name="image" content="https://weizman.github.io/content/img/previews/{{ page.image }}" />
  <meta property="og:description" name="description" content="{{ page.description }}" />
  <meta property="og:title" name="name" content="{{ page.title }}" />
  <meta property="og:image:type" content="image/png">
  <meta property="og:image:width" content="440" /> 
  <meta property="og:image:height" content="440" />

  <meta name="twitter:card" content="summary_large_image"/>
  <meta name="twitter:site" content="@weizman">
  <meta name="twitter:creator" content="@weizman">
  <meta name="twitter:title" content="{{ page.title }}" />
  <meta name="twitter:description" content="{{ page.description }}" />
  <meta name="twitter:image:src" content="https://weizman.github.io/content/img/previews/{{ page.image }}" />

  <meta name="apple-mobile-web-app-title" content="Gal Weizman">
  <meta name="application-name" content="Gal Weizman">
  
  <meta property="forem:name" content="Gal Weizman">
  <meta property="forem:logo" content="{{ site.baseurl }}/public/favicon.ico">
  <meta property="forem:domain" content="weizman.github.io">
  
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  
  <meta name="description" content="{{ page.description }}">
  <meta name="keywords" content="{{ page.keywords }}">
  
  <meta name="last-updated" content="2022-11-10 19:33:05 UTC">
  <meta name="user-signed-in" content="false">
  
  <!-- Enable responsiveness on mobile devices-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

  <title>
    {% if page.title == "Home" %}
      {{ site.title }} &middot; {{ site.tagline }}
    {% else %}
      {{ page.title }} &middot; {{ site.title }}
    {% endif %}
  </title>

  <!-- CSS -->
  <link rel="stylesheet" href="{{ site.baseurl }}/public/css/poole.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/public/css/syntax.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/public/css/hyde.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/public/css/extra.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700|Abril+Fatface">

  <!-- Icons -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ site.baseurl }}/public/apple-touch-icon-144-precomposed.png">
                                 <link rel="shortcut icon" href="{{ site.baseurl }}/public/favicon.ico">

  <script async src_DISABLED="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1379968351324902" crossorigin="anonymous"></script>
  
</head>
